{% extends 'pagina/base.html' %}

{% block content %}
<h1>Bienvenido a Historial de la mascota</h1>
 <div class="container">
        <div class="row">
             <div class="col-6 col-sm-4 col-md-3">
                <div class="card text-center border-info">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">CODIGO HISTORIAL: {{mascota.id}}</h5>
                            <h5 class="card-title">NOMBRE MASCOTA: {{mascota.mascota_id}}</h5>
                            <h5 class="card-title">ULTIMA REVISION: {{mascota.fecha}}</h5>
                            <h5 class="card-title">VACUNAS: {{mascota.vacuna}}</h5>
                            <h5 class="card-title">TRATAMIENTOS: {{mascota.tratamiento}}</h5>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
{% endblock %}